<section class="portfolio-section hidden">
  <div class="container">
    <h2 class="header-two">Our Portfolio</h2>
    <ul class="portfolio-list">
      <li class="portfolio-items">
        <div class="image-container">
          <img src="./images/banking.jpg" alt="Banking App" width="360" height="300">

          <p class="hover-content">14 Stylish and User-Friendly App Design Concepts · Task Manager App
            ·
            Calorie Tracker App · Exotic Fruit Ecommerce App ·
            Cloud Storage App</p>

        </div>
        <div class="product-descr">
          <h3 class="header-three">Banking App</h3>
          <p class="text">App</p>
        </div>
      </li>
      <li class="portfolio-items">
        <div class="image-container">
          <img src="./images/cashless.jpg" alt="Cashless Payment" width="360" height="300">

          <p class="hover-content">14 Stylish and User-Friendly App Design Concepts · Task Manager App
            ·
            Calorie Tracker App · Exotic Fruit Ecommerce App ·
            Cloud Storage App</p>

        </div>
        <div class="product-descr">
          <h3 class="header-three">Cashless Payment</h3>
          <p class="text">Marketing</p>
        </div>
      </li>
      <li class="portfolio-items">
        <div class="image-container">
          <img src="./images/meditation.jpg" alt="Meditation App" width="360" height="300">

          <p class="hover-content">14 Stylish and User-Friendly App Design Concepts · Task Manager App
            ·
            Calorie Tracker App · Exotic Fruit Ecommerce App ·
            Cloud Storage App</p>

        </div>
        <div class="product-descr">
          <h3 class="header-three">Meditation App</h3>
          <p class="text">App</p>
        </div>
      </li>
      <li class="portfolio-items">
        <div class="image-container">
          <img src="./images/taxi.jpg" alt="Taxi Service" width="360" height="300">

          <p class="hover-content">14 Stylish and User-Friendly App Design Concepts · Task Manager App
            ·
            Calorie Tracker App · Exotic Fruit Ecommerce App ·
            Cloud Storage App</p>

        </div>
        <div class="product-descr">
          <h3 class="header-three">Taxi Service</h3>
          <p class="text">Marketing</p>
        </div>
      </li>
      <li class="portfolio-items">
        <div class="image-container">
          <img src="./images/screen.jpg" alt="Screen Illustrations" width="360" height="300">
          <p class="hover-content">14 Stylish and User-Friendly App Design Concepts · Task
            Manager App ·
            Calorie Tracker App · Exotic Fruit Ecommerce App ·
            Cloud Storage App</p>
        </div>
        <div class="product-descr">
          <h3 class="header-three">Screen Illustrations</h3>
          <p class="text">Design</p>
        </div>
      </li>
      <li class="portfolio-items">
        <div class="image-container">
          <img src="./images/courses.jpg" alt="Online Courses" width="360" height="300">

          <p class="hover-content">14 Stylish and User-Friendly App Design Concepts · Task Manager App
            ·
            Calorie Tracker App · Exotic Fruit Ecommerce App ·
            Cloud Storage App</p>

        </div>
        <div class="product-descr">
          <h3 class="header-three">Online Courses</h3>
          <p class="text">Marketing</p>
        </div>
      </li>
    </ul>
  </div>
</section>